.title {
  margin-top: 40px;
  text-align: center;
}
div {
  margin: 0 auto;
  width: 300px;
}
input {
  width: 300px;
  height: 24px;
  line-height: 24px;
  margin: 40px 0;
}

button {
  width: 300px;
  border-radius: 3px;
  background: #88A153;
  border: none;
  color: #ffffff;
  display: block;
  font-size: 18px;
  cursor: pointer;
}